<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>AskMate | Add question</title>
</head>
<body>
    {% if question %}
        <h1>Edit question</h1>
        <form action='/question/{{ question_id }}/edit' method="POST">
            <p>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" size="81" minlength="5" value="{{ question['title'] }}">
            </p>
            <p>
                <label for="message">Question</label><br>
                <textarea name="message" id="message" cols="80" rows="10" minlength="5">{{ question['message'] }}</textarea>
            </p>
            <p><input type="hidden" name="id" id="id" value="{{ question_id }}"></p>
            <button type="submit">Edit question</button>
        </form>
    {% else %}
        <h1>Add question</h1>
        <form action='/add-question' method="post">
            <p>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" size="81" minlength="5">
            </p>
            <p>
                <label for="message">Question</label><br>
                <textarea name="message" id="message" cols="80" rows="10" minlength="5"></textarea>
            </p>

            <button type="submit">Add question</button>
        </form>
    {% endif %}
    <p><button><a href="/">Back to home page</a></button></p>
</body>
</html>