{% extends "layout.html" %}

{% block head_title %}AskMate | Add comment{% endblock %}

{% block body_heading%}Add comment to Question{% endblock %}

{% block body %}
    <label for="question_table">The question:</label><br>
    <h2>{{ question.message }}</h2>

    <form action="{{ add_question_comment_url }}" method="POST" name="add_comment_form">
        <input type="text" id="question_id" name="question_id" value="{{ question_id }}" hidden>
        <p>
            <label for="message">Comment:</label><br>
            <textarea name="message" cols="80" rows="10" minlength="5"></textarea>
        </p>
        <button type="submit">Add comment</button>
    </form>
{% endblock %}