<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Add question</title>
</head>
<body>
    <h1>Add question</h1>
    <form action='/add-question' method="post">
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </p>
        <p>
            <label for="message"></label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </p>
        <input type="hidden" name="view_number" value="0">
        <button type="submit">Add question</button>
    </form>
</body>
</html>