{% extends "layout.html" %}

{% block head_title %}AskMate | Add comment{% endblock %}

{% block body_heading%}Add comment to Answer{% endblock %}

{% block body %}
    <label for="answer_table">The answer:</label><br>
    <table id="answer_table">
        <thead>
            <tr>
                {% for header in ('Submission time', 'Message') %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                <tr>
                    {% for field in ('submission_time', 'message') %}
                        <td>{{ answer_data[field]|replace('\n', '<br>')|safe }}</td>
                    {% endfor %}
                </tr>
        <tbody>
    </table>
    <form action="{{ question_detail_ur }}" method="POST" name="add_answer_comment_form">
        <input type="text" id="answer_id" name="answer_id" value="{{ answer_id }}" hidden>
        <p>
            <label for="message">Comment:</label><br>
            <textarea name="message" cols="80" rows="10" minlength="5"></textarea>
        </p>
        <button type="submit">Add comment</button>
        <button><a href="{{ question_detail_url }}">Back to the question page</a></button>
    </form>
{% endblock %}