<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>AskMate | Add comment</title>
</head>
<body>
    <h1>Add comment to Answer</h1>
    <label for="answer_table">The answer:</label><br>
    <table id="answer_table">
        <thead>
            <tr>
                {% for header in ('Submission time', 'Message') %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                <tr>
                    {% for field in ('submission_time', 'message') %}
                        <td>{{ answer_data[field]|replace('\n', '<br>')|safe }}</td>
                    {% endfor %}
                </tr>
        <tbody>
    </table>
    <form action="{{ question_detail_ur }}" method="POST" name="add_answer_comment_form">
        <input type="text" id="answer_id" name="answer_id" value="{{ answer_id }}" hidden>
        <p>
            <label for="message">Comment:</label><br>
            <textarea name="message" cols="80" rows="10" minlength="5"></textarea>
        </p>
        <button type="submit">Add comment</button>
        <button><a href="{{ question_detail_url }}">Back to the question page</a></button>
    </form>
</body>
</html>