{% extends "layout.html" %}

{% block head_title %}AskMate | Edit comment{% endblock %}

{% block body_heading%}Edit comment{% endblock %}

{% block body %}
    <form action='/comments/{{ comment_id }}/edit' method="POST">
        <p>
            <label for="message">comment</label><br>
            <textarea name="message" id="message" cols="80" rows="10" minlength="5">{{ comment['message'] }}</textarea>
        </p>
        <p><input type="hidden" name="id" id="id" value="{{ comment_id }}"></p>
        <button type="submit">Edit comment</button>
    </form>
{% endblock %}