<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on AskMate!</title>
</head>
<body>
    <h1>Questions:</h1>
    <p><a href="/add-question">Add new question</a></p>
    <table border="1" align="center" width="100%">
        <thead>
            <tr>
                {% for head in data_header %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for data in data_table %}
                    <tr>
                        <td>{{ data['id'] }}</td>
                        <td>{{ data['submisson_time'] }}</td>
                        <td>{{ data['view_number'] }}</td>
                        <td><a href="{{ url_for('route_question_detail', question_id=data['id']) }}">{{ data['title'] }}</a></td>
                        <td>{{ data['message'] }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>