<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to AskMate!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 align="center">Welcome to AskMate!</h1>
    <h2>Questions:</h2>
    <table border="1" align="center" width="100%">
        <thead>
            <tr>
                {% for head in data_header %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for data in data_table %}
                    <tr>
                        <td align="center">{{ data['submission_time'] }}</td>
                        <td align="center">{{ data['view_number'] }}</td>
                        <td><a href="{{ url_for('route_question_detail', question_id=data['id']) }}">{{ data['title']|safe }}</a></td>
                        <td>{{ data['message']|safe}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    <p><a href="/add-question"><button>Add new question</button></a></p>
    {% if five_questions == True %}
    <p><a href=" {{ url_for('route_list') }}"><button>Show all of the questions</button></a></p>
    {% endif %}
</body>
</html>