<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Question {{ question_id }}</title>
    </head>
    <body>
        <h1>Question {{ question_id }}</h1>
        <p></p>
        <table border="1">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p><a href=""</p>
        <p>{% block answer_text_area %}{% endblock %}</p>
    </body>
</html>