<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ question_data['title'] }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>{{ question_data['title'] }}</h1>
        <p></p>
        <table border="1">
            <thead>
                <tr>
                    {% for header in ('Submission time', 'View number', 'Message') %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for field in ('submission_time', 'view_number', 'message') %}
                        <td align="{{ 'center' if field == 'view_number' }}">{{ question_data[field]|safe }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <p><button><a href="/" style="color: black; text-decoration: none">Back to home page</a></button><br></p>
        <h2>Answers for this question:</h2>
        <table border="1">
            <thead>
                <tr>
                    {% for header in ('Submission_time', 'Message') %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in answers %}
                    <tr>
                        {% for field in ('submission_time', 'message') %}
                            <td>{{ row[field]|safe }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><button {% block hide_add_new_answer_button %}{% endblock %}><a href="{{ add_answer_url }}" style="color: black; text-decoration: none">Add new answer</a></button></p>
        <p>{% block answer_text_area %}{% endblock %}</p>
    </body>
</html>